# Q1. How do you comment code in Python? What are the different types of comments?

There are two types of comments
    
    single line comments
    multi line comments
    
single line comments
    
    For single line comments we use #.
   
Ex.

In [2]:
# my name is akshay

Multi line comments 

    for multiline comments we use triple quotes (''' or """)
    
Ex.

In [3]:
'''My name is akshay
I am from ahmedabad'''

'My name is akshay\nI am from ahmedabad'

# Q2. What are variables in Python? How do you declare and assign values to variables?

In python variables is used to store data. 

We can declare variables useing equals to sign.

In [4]:
name = 'Akshay'

# Q3. How do you convert one data type to another in Python?

We can convert from one to another data type in python using type casting.

Ex.

In [6]:
num = '123'
type(num)

str

In [7]:
num = int(num)
type(num)

int

# Q4. How do you write and execute a Python script from the command line?

first open the command line then type python followed by the path of the file you want to execute and than hit the enter button, and that's it.

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
my_list = [1,2,3,4,5]

In [10]:
sub_list = my_list[1:3]
sub_list

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

complex numbers are the numbers that are expressed in the form of "a+ib"
where a and b are real numbers and i is imaginary number.

In python we can sotre it like

In [14]:
num = 5 + 8j

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [16]:
age = 25

This is the correct way to declare variable and assign the value

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [17]:
price = 9.99

In [18]:
type(price)

float

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [19]:
name = 'Akshay Satasiya'

In [20]:
# To print the value we use print function
print(name)

Akshay Satasiya

# Q10. Given the string "Hello, World!", extract the substring "World".

In [21]:
str = 'Hello World!'

In [22]:
str[5:11]

' World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [23]:
is_student = True