# Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

__MongoDB__ is a document database used to build highly available and scalable internet application.

it ia a non-relational document database that provides support for JSON-like storage

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database syatems.

In comparison to the SQL server MongoDB is faster and more scaable. While SQL server supports JOIN and Global transactions, MongoDB does not.

The MS SQL server does not accommodate large amounts of data however MongoDB does.

# Q2. State and Explain the features of MongoDB.

1. Ad-hoc queries for optimized, real-time analytics.

2. Indexing appropriately for better query execution.

3. Replication for better data availability and stability.

4. Sharding 

5. Load balancing

# Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
import pymongo
client = pymongo.MongoClient('mongodb+srv://AkshaySatasiya:12345@cluster0.yjephaf.mongodb.net/?retryWrites=true&w=majority')
db = client.test

In [4]:
db

Database(MongoClient(host=['ac-jniqmkv-shard-00-01.yjephaf.mongodb.net:27017', 'ac-jniqmkv-shard-00-00.yjephaf.mongodb.net:27017', 'ac-jniqmkv-shard-00-02.yjephaf.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-epaooo-shard-0', tls=True), 'test')

In [5]:
db = client['pwskills']

In [6]:
coll_pw = db['record']

# Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [7]:
data = {'name':'Akshay','course':'Data science','City':'Ahmedabad'}

In [10]:
coll_pw.insert_one(data)

In [11]:
data2 = [
    {'name':'Akshay', 'city':'Ahmedabad'},
    {'name':'Ronak', 'city':'Surat'},
    {'name':'Jay', 'city':'Ahmedabad'}
]

In [12]:
coll_pw.insert_many(data2)

In [13]:
coll_pw.find_one()

{'_id': ObjectId('648d3c0bdf00a84b1612a850'),
 'name': 'Akshay',
 'course': 'Data science',
 'City': 'Ahmedabad'}

In [14]:
for i in coll_pw.find():
    print(i)

{'_id': ObjectId('648d3c0bdf00a84b1612a850'), 'name': 'Akshay', 'course': 'Data science', 'City': 'Ahmedabad'}
{'_id': ObjectId('648d3ceadf00a84b1612a851'), 'name': 'Akshay', 'city': 'Ahmedabad'}
{'_id': ObjectId('648d3ceadf00a84b1612a852'), 'name': 'Ronak', 'city': 'Surat'}
{'_id': ObjectId('648d3ceadf00a84b1612a853'), 'name': 'Jay', 'city': 'Ahmedabad'}

# Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

We can write query or conditions inside find in curly braces  __.find({'name':'Akshay'})__  to filter or query the database.

In [16]:
for i in coll_pw.find({'name':'Akshay'}):
    print(i)

{'_id': ObjectId('648d3c0bdf00a84b1612a850'), 'name': 'Akshay', 'course': 'Data science', 'City': 'Ahmedabad'}
{'_id': ObjectId('648d3ceadf00a84b1612a851'), 'name': 'Akshay', 'city': 'Ahmedabad'}

# Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

To sort documents in MongoDB we need to use sort() method.

In [19]:
data3 = [
    {'id':10, 'name':'Akshay'},
    {'id':1, 'name':'Asit'},
    {'id':25, 'name':'Dhruv'},
    {'id':14, 'name':'Vikrant'},
    {'id':2, 'name':'Jay'},    
    {'id':19, 'name':'Ronak'},
    {'id':10, 'name':'Ajay'},

]

In [20]:
coll_pw.insert_many(data3)

In [34]:
for i in coll_pw.find():
    print(i)

{'_id': ObjectId('648d3ceadf00a84b1612a851'), 'name': 'Akshay', 'city': 'Ahmedabad', 'id': 24}
{'_id': ObjectId('648d3ceadf00a84b1612a852'), 'name': 'Ronak', 'city': 'Surat', 'id': 23}
{'_id': ObjectId('648d3ceadf00a84b1612a853'), 'name': 'Jay', 'city': 'Ahmedabad', 'id': 2}
{'_id': ObjectId('648d3f5fdf00a84b1612a854'), 'id': 10, 'name': 'Akshay'}
{'_id': ObjectId('648d3f5fdf00a84b1612a855'), 'id': 1, 'name': 'Asit'}
{'_id': ObjectId('648d3f5fdf00a84b1612a856'), 'id': 25, 'name': 'Dhruv'}
{'_id': ObjectId('648d3f5fdf00a84b1612a857'), 'id': 14, 'name': 'Vikrant'}
{'_id': ObjectId('648d3f5fdf00a84b1612a858'), 'id': 2, 'name': 'Jay'}
{'_id': ObjectId('648d3f5fdf00a84b1612a859'), 'id': 19, 'name': 'Ronak'}
{'_id': ObjectId('648d3f5fdf00a84b1612a85a'), 'id': 10, 'name': 'Ajay'}

In [41]:
for i in coll_pw.find().sort([('id', -1)]):
    print(i)

{'_id': ObjectId('648d3f5fdf00a84b1612a856'), 'id': 25, 'name': 'Dhruv'}
{'_id': ObjectId('648d3ceadf00a84b1612a851'), 'name': 'Akshay', 'city': 'Ahmedabad', 'id': 24}
{'_id': ObjectId('648d3ceadf00a84b1612a852'), 'name': 'Ronak', 'city': 'Surat', 'id': 23}
{'_id': ObjectId('648d3f5fdf00a84b1612a859'), 'id': 19, 'name': 'Ronak'}
{'_id': ObjectId('648d3f5fdf00a84b1612a857'), 'id': 14, 'name': 'Vikrant'}
{'_id': ObjectId('648d3f5fdf00a84b1612a854'), 'id': 10, 'name': 'Akshay'}
{'_id': ObjectId('648d3f5fdf00a84b1612a85a'), 'id': 10, 'name': 'Ajay'}
{'_id': ObjectId('648d3ceadf00a84b1612a853'), 'name': 'Jay', 'city': 'Ahmedabad', 'id': 2}
{'_id': ObjectId('648d3f5fdf00a84b1612a858'), 'id': 2, 'name': 'Jay'}
{'_id': ObjectId('648d3f5fdf00a84b1612a855'), 'id': 1, 'name': 'Asit'}

# Q7. Explain why delete_one(), delete_many(), and drop() is used.

__delete_one()__
    
    delete_one() deletes the first record that matches the filter
    
__delete_many()__
    
    delete_many() removes every record that matches the filter
    
__drop()__
    
    drop() method is used to drop a collection from a database.