# Q1. What is a database? Differentiate between SQL and NoSQL databases.

A __database__ is an __organized collection of structured information__, or datta, typically stored in electronically in computer system.

SQL stands for Structured query language

NoSQL stands for Not only Structured query language

__SQL__ databases are table-based while __NoSQL__ databases are documents, key-value, graph, or wide-column stores.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stand for Data Defination Language. 

It is used for defining data structure, especially database schemas

__Create__

This command is used to create a new table in SQL.

    CREATE TABLE TABLE_NAME( COLUMN_1 DATATPE, COLUMN_2 DATATYPE );
    
__Drop__

This command is used to remove an existing table along with its structure from database.

    DROP TABLE TABLE_NAME;
    
__Alter__

This  command is used to ass, delete or change column in existing table.

    ALTER TABLE TABLE_NAME
    ADD COLUMN_NAME DATATYPE;
    
__Truncate__

This command is used to remove all rows from the table, but the structure of the table still exists.

    TRUNCATE TABLE TABLE_NAME;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stand for __Data Manipulation Language.__ represents a collection of programming language explicitly __used to make changes to the databases__ such as CRUD operation.

__INSERT__

this command is used to insert data into a table.

    Insert into table_name (column list) values (column values);
    
__UPDATE__

this command is used to update existing data within a table.

    Update table_name SET column_number = value_number WHERE cndition;
    
__DELETE__

this command is used to delete records from a database table

    Delete from table_name WHERE condition

# Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language

it is used to retrieve data.

__SELECT__

this command is used to retrieve data from a database.

    SELECT * from table_name;

# Q5. Explain Primary Key and Foreign Key.

__A Primary key__ is generally focuses on the __uniqueness of the table.__ it assures the value in the specific column is unique.

__A Foreign key__ is generally used to __build a relationship between the two tables.__

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = '@Akshay2811'
)

#creating the cursor object
mycursor = conn.cursor()
mycursor.execute('SHOW DATABASES')

__cursor()__

this method is used to execute statement to communicate with the MySQL database.

__execute()__

this method accepts a MySQL query as a parameter and execute the given query.

# Q7. Give the order of execution of SQL clauses in an SQL query.

The order in which the clauses in SQL query execute

__FROM/JOIN__

the FROM and JOIN clauses are execute fir st to determine the data of interest.

__WHERE__

the WHERE clause is executed to filter out records that do not meet the constraints.

__GROUP BY__

the GROUP BY clause is executed to group the data based on the values in one or more columns.

__HAVING__

the HAVING clause is executed to remove the created grouped records that don't meet the constraints.

__SELECT__

the SELECT clause is executed to derive all desired columns and expressions.

__ORDER BY__

the ORDER BY clause is executed to sort the derived values in ascending or descending order.

__LIMIT/OFFSET__

the LIMIT abd OFFSET clause are executed to keep or skip a specific number of rows